<div class="bg-white shadow-md">
    <h1 class="mb-4 pt-5 text-center text-xl font-bold text-purple-600">
      Quote Comparison Sheet
    </h1>
    <label for="" class="ml-4 text-lg font-bold text-purple-600"
      >INDENT ID:</label
    >
    <input
      type="text"
      class="m-4 rounded-lg text-center text-lg font-semibold"
      [value]="requestData?.requestNo"
      readonly
    />
  
    <div
      class="flex flex-row items-center space-y-3 p-4 md:flex-row md:space-x-4 md:space-y-0"
      *ngIf="pdfSrc.length !== 3"
    >
      <div class="w-full md:w-1/2">
        <form class="flex items-center" [formGroup]="comparisonQuoteForm">
          <label for="simple-search" class="sr-only">Search</label>
          <div formArrayName="qcHeadOfAcc" class="relative w-full">
            <div
              *ngFor="
                let head of getQcHeadOfAccArray().controls;
                let headIndex = index
              "
              [formGroupName]="headIndex"
            >
              <div>
                <label for="" class="text-lg font-semibold text-purple-600"
                  >Head of Account:</label
                >
                <select
                  class="m-4 w-64 rounded-lg border border-gray-500"
                  (change)="selectedHeadOfAcc($event)"
                  formControlName="headOfAccId"
                  [value]="currentHeadOfAccId"
                >
                  <option value="">Choose Head of Account</option>
                  <option
                    *ngFor="let head of uniqueProductHeadData"
                    [value]="head.headOfAccId"
                  >
                    {{ head.headOfAccName }}
                  </option>
                </select>
              </div>
              <h3 class="mb-4 mt-2 text-lg font-semibold text-purple-600">
                Search Vendor to Upload the Quote
              </h3>
              <div formArrayName="qcVendors">
                <div
                  *ngFor="
                    let ven of getQcVendorsArray(headIndex).controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <div
                    class="pointer-events-none absolute mt-32 inset-y-0 left-0 flex items-center pl-3"
                  >
                    <svg
                      aria-hidden="true"
                      class="h-5 w-5 text-gray-500 dark:text-gray-400"
                      fill="currentColor"
                      viewbox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                  <input
                    type="text"
                    class="w-full rounded border px-4 py-2"
                    id="simple-search"
                    class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                    placeholder="Search Vendor..."
                    formControlName="vendorId"
                    (focus)="currentHeadIndex = headIndex"
                    [ngClass]="{
                      'pointer-events-none': !isEnableSearch
                    }"
                    required=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="noVendor" class="absolute mt-48 text-sm text-red-600">
            <small>No vendor found.</small>
          </div>
          <ul
            *ngIf="storeVendorList && storeVendorList.length > 0"
            class="absolute z-10 mt-56 w-2/5 rounded-lg border border-none border-gray-300 bg-white shadow-lg dark:border-gray-600 dark:bg-gray-700"
          >
            <li
              *ngFor="let ven of storeVendorList"
              (click)="onSelectedVendor(ven, currentHeadIndex ?? 0)"
              class="cursor-pointer px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600"
            >
              {{ ven.vendorName }}
            </li>
            <li
              *ngIf="noVendor || storeVendorList.length === 0"
              class="cursor-pointer px-4 py-2 text-sm text-red-500"
            >
              No data
            </li>
          </ul>
        </form>
      </div>
  
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        accept="application/pdf"
        multiple
        class="hidden"
      />
  
      <!-- Save Button Triggers File Input Click -->
      <button
        *ngIf="pdfSrc.length !== 3"
        type="button"
        (click)="fileInput.click()"
        [disabled]="!isEnableUploadBtn"
        [ngClass]="{
          'bg-purple-300 hover:bg-purple-300': !isEnableUploadBtn,
          'bg-purple-700 hover:bg-purple-900': isEnableUploadBtn
        }"
        class="!mt-28 rounded-full bg-purple-700 p-3 font-semibold text-white hover:bg-purple-900"
      >
        <svg
          class="h-5 w-5 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.383 4.076a6.5 6.5 0 0 0-6.887 3.95A5 5 0 0 0 7 18h3v-4a2 2 0 0 1-1.414-3.414l2-2a2 2 0 0 1 2.828 0l2 2A2 2 0 0 1 14 14v4h4a4 4 0 0 0 .988-7.876 6.5 6.5 0 0 0-5.605-6.048Z"
          />
          <path
            d="M12.707 9.293a1 1 0 0 0-1.414 0l-2 2a1 1 0 1 0 1.414 1.414l.293-.293V19a1 1 0 1 0 2 0v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-2-2Z"
          />
        </svg>
      </button>
    </div>
  
    <!-- Upload Section -->
    <!-- <div
      *ngIf="pdfSrc.length !== 3"
      class="flex w-full items-center justify-center"
    >
      <label
        for="dropzone-file"
        class="dark:hover:bg-bray-800 flex h-20 w-full cursor-pointer flex-col items-center justify-center border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600"
      >
        <div class="flex flex-col items-center justify-center">
          <p class="text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload PDF</span>
          </p>
        </div>
        <input
          id="dropzone-file"
          type="file"
          class="hidden"
          (change)="onFileSelected($event)"
          accept="application/pdf"
          multiple
        />
      </label>
    </div> -->
  
    <!-- PDF Display Section -->
    <div *ngIf="selectedVendorName.length > 0" class="flex">
  
      <div>
        <section class="bg-white" *ngIf="selectedVendorName.length > 0">
          <div class="px-4 py-8">
            <h3 class="mb-4 text-lg font-semibold text-purple-700">
              Vendor Quote Assessment
            </h3>
            <form action="#" class="grid grid-cols-3 gap-4">
              <ng-container *ngFor="let ven of selectedVendorName; let i = index">
                <div class="col-span-1 rounded-lg border p-2 shadow-md">
                  <div class="mb-2 flex items-center justify-between">
                    <input
                      type="text"
                      class="w-full rounded-lg border border-gray-300 px-2 py-2 font-medium"
                      [value]="ven.name || ''"
                      readonly
                    />
                    <button
                      *ngIf="selectedVendorName[i].isViewCloseIcon"
                      type="submit"
                      (click)="removeVendor(i)"
                      class="ml-2 flex h-10 w-10 items-center justify-center rounded-full bg-red-500 p-2 text-white"
                    >
                      <svg
                        class="h-6 w-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </button>
                  </div>
                 
                </div>
              </ng-container>
            </form>
          </div>
        </section>
  
        <div class="mx-auto grid max-w-full grid-cols-3 gap-4 p-4">
          <div
            class="group relative w-full overflow-hidden rounded-lg border border-gray-300 bg-gray-100 shadow-md"
            *ngFor="let pdf of pdfSrc; let i = index"
          >
            <!-- PDF Preview -->
            <button
              (click)="deleteSlide(i)"
              class="absolute right-6 top-2 hidden items-center justify-center rounded-full bg-red-600 p-2 text-white hover:bg-red-700 group-hover:flex"
            >
              <svg
                class="h-5 w-5 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
  
            <iframe
              class="h-[150px] w-full border-b border-gray-300"
              [src]="pdf"
            ></iframe>
  
            <!-- PDF Details -->
            <div class="bg-white p-4 text-black">
              <p class="m-0 font-bold">{{ selectedVendorName[i].name }}</p>
              <div class="mt-1 flex items-center gap-1">
                <img
                  src="../../../assets/Img/pdf-icon.png"
                  alt="PDF Icon"
                  class="h-[30px] w-[32px]"
                />
                <span>{{ pdfFiles[i].name }}</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  
    <div
      class="mt-6 flex flex-row items-center space-x-4"
      *ngIf="
        filterProductHeadData.length > 0 &&
        selectedVendorName.length > 2 &&
        pdfSrc.length > 2
      "
    >
      <div class="-m-1.5">
        <div class="inline-block min-w-full p-1.5 align-middle">
          <!-- <h1 class="bg-purple-600 text-white">testing</h1> -->
          <div class="m-4 overflow-hidden rounded-lg border">
            <table class="min-w-full divide-y divide-gray-200">
              <thead
                class="dark:bg-white-700 dark:text-white-400 bg-purple-500 text-sm uppercase text-white"
              >
                <tr>
                  <th
                    scope="col"
                    class="px-5 py-4 text-start text-sm font-medium uppercase"
                  >
                    Product
                  </th>
  
                  <th
                    scope="col"
                    *ngFor="let ven of selectedVendorName"
                    class="px-5 py-4 text-start text-sm font-medium uppercase"
                  >
                    {{ ven.name }}
                  </th>
  
                  <!-- <th
                    scope="col"
                    class="px-5 py-4 text-start text-sm font-medium uppercase"
                  >
                    Unit Price
                  </th> -->
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let product of filterProductHeadData; let i = index">
                  <td
                    class="px-5 py-4 text-start text-sm font-medium text-gray-800"
                  >
                    <p class="font-bold text-black">
                      {{ product.prdmdlName }}
                    </p>
                    <p class="text-gray-800">
                      {{ product.prdbrndName }} | HoA -
                      {{ product.headOfAccName }}
                    </p>
                    <p class="w-48 text-xs text-gray-400">
                      {{ product.prdDescription }}
                    </p>
                  </td>
  
                  <td class="px-5 py-4 text-center text-sm text-gray-800">
                    <input
                      type="number"
                      class="w-32 rounded-lg"
                      [(ngModel)]="ven1Price[i]"
                      (input)="calculateVen1Price(i)"
                      (keypress)="allowOnlyNumbers($event)"
                      (paste)="preventPaste($event)"
                    />
                  </td>
  
                  <td class="px-5 py-4 text-center text-sm text-gray-800">
                    <input
                      type="number"
                      class="w-32 rounded-lg"
                      [(ngModel)]="ven2Price[i]"
                      (input)="calculateVen2Price(i)"
                      (keypress)="allowOnlyNumbers($event)"
                      (paste)="preventPaste($event)"
                    />
                  </td>
  
                  <td class="px-5 py-4 text-center text-sm text-gray-800">
                    <input
                      type="number"
                      class="w-32 rounded-lg"
                      [(ngModel)]="ven3Price[i]"
                      (input)="calculateVen3Price(i)"
                      (keypress)="allowOnlyNumbers($event)"
                      (paste)="preventPaste($event)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     
    </div>
  
    <!-- Quote Section -->
    <section class="bg-white" *ngIf="pdfSrc.length > 0">
      <div class="mx-auto px-4 py-8 lg:py-16">
        <form action="#" class="grid grid-cols-3 gap-2">
          <ng-container *ngFor="let file of pdfFiles; let i = index">
            <div class="col-span-1 -mt-8">
              <label
                for="quote{{ i }}"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
                >{{ file.name }}</label
              >
              <input
                type="number"
                class="input-text1 w-full"
                [(ngModel)]="quotes[i]"
                name="quote{{ i }}"
                [value]="quotes[i]"
                required
                readonly
              />
            </div>
          </ng-container>
        </form>
        <div
          class="mt-4 flex flex-col items-start justify-start"
          *ngIf="pdfSrc.length == 3"
        >
          <div class="rounded-lg border border-gray-300 p-4">
            <h3 class="mt-4 font-semibold text-purple-600">
              Least Vendor Name:
              <span class="font-semibold text-gray-700">{{
                leastPricedVendorName
              }}</span>
            </h3>
            <p class="mt-4 font-semibold text-purple-700">
              Least Price:
              <span class="font-semibold text-gray-700">{{ leastPrice }}</span>
            </p>
          </div>
        </div>
        <div class="flex flex-col items-end justify-start">
          <button
            *ngIf="pdfSrc.length == 3"
            (click)="uploadPdf(comparisonQuoteForm.value)"
            class="an -mb-2 mt-4 rounded-lg bg-purple-700 p-2 px-4 font-semibold text-white hover:bg-purple-900"
          >
            <!-- <svg
              class="h-5 w-5 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M13.383 4.076a6.5 6.5 0 0 0-6.887 3.95A5 5 0 0 0 7 18h3v-4a2 2 0 0 1-1.414-3.414l2-2a2 2 0 0 1 2.828 0l2 2A2 2 0 0 1 14 14v4h4a4 4 0 0 0 .988-7.876 6.5 6.5 0 0 0-5.605-6.048Z"
              />
              <path
                d="M12.707 9.293a1 1 0 0 0-1.414 0l-2 2a1 1 0 1 0 1.414 1.414l.293-.293V19a1 1 0 1 0 2 0v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-2-2Z"
              />
            </svg> -->
            Save
          </button>
        </div>
      </div>
    </section>
  </div>
  <section
    *ngIf="isToast"
    class="fixed left-6 right-2 top-10 z-50 flex w-full items-center justify-center"
  >
    <app-warning-toast [message]="warningToastMsg"></app-warning-toast>
  </section>
  <section
    *ngIf="isSuccessToast"
    class="fixed left-6 right-2 top-10 z-50 flex w-full items-center justify-center"
  >
    <app-success-toast [message]="deleteToastMsg"></app-success-toast>
  </section>
  <!-- <section *ngIf="isWarningPopup">
    <app-warning-popup
      (close)="closepop($event)"
      (clearQuotation)="clearPreviousQuotation()"
    ></app-warning-popup>
  </section> -->
  