<div class="flex flex-col items-center justify-center min-h-screen bg-gray-200 p-4">
    <div class="max-w-2xl w-full bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold text-gray-600 mb-6">User Preferences</h2>
        <form (submit)="savePreferences();  $event.preventDefault()" class="space-y-4">
            <div>
                <label for="theme" class="block text-gray-600 font-medium mb-2">Theme:</label>
                <select
                    class="w-full p-2 text-black border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" 
                    name="theme" id="theme" [(ngModel)]="preferences.theme">
                    <option value="" disabled selected class="bg-blue-500 text-white">Select your theme</option>
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
            
            <div>
                <label for="language" class="block text-gray-600 font-medium mb-2">Language:</label>
                <select name="language" id="language" [(ngModel)]="preferences.language"
                    class="border border-gray-300 text-black w-full p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="" disabled selected>Select your language</option>
                    <option value="en">English</option>
                    <option value="fr">French</option>
                    <option value="es">Spanish</option>
                    <option>Tamil</option>
                </select>
            </div>
            
            <button type="submit"
             class="w-full bg-blue-500 py-2 text-white rounded-md font-medium hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 ">
                Save Preferences</button>
        </form>
    </div>
    

    <div *ngIf="preferencesList.length > 0">
        <h3 class="text-2xl text-gray-800 font-medium mb-2 mt-2">My preferences</h3>
        <ul class="list-disc pl-6 space-y-2">
            <li *ngFor="let pre of preferencesList" class="text-gray-700">
                <span class="font-medium">Theme:</span> {{pre.theme}}, 
                <span class="font-medium">Language:</span> {{pre.language}}
            </li>
        </ul>
    </div>
</div>